<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="POST" action="/bar">
<input type="text" title="fname" />
<button type="action">Submit</button>
</form>

<br>

{{if .}}
<h1>BODY: {{.}}</h1>
{{end}}

</body>
</html>